<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title}, ~{::#css}, ~{::#content}, ~{::#js})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Info & Password</title>

    <th:block id="css"></th:block>
</head>
<body>
<th:block id="content">
    <!-- Register -->
    <section class="py-4">
        <div class="container">
            <div class="row justify-content-center">

                <!--Change avatar-->
                <div class="col-4">
                    <div class="p-4 bg-body-tertiary">
                        <h2 class="text-center my-2 fs-2">Avatar</h2>
                        <form id="form-avatar" class="text-center">
                            <!-- img show user's avatar -->
                            <div class="image-preview-container mb-3">
                                <img th:src="${session.currentUser.avatar}" alt="" id="image-preview"/>
                            </div>

                            <!-- label upload avatar -->
                            <label for="image" class="btn btn-info btn-flat rounded">
                                Choose avatar
                            </label>
                            <input type="file" id="image" class="d-none">

                            <!-- button delete avatar == reset to default avatar -->
                            <button id="btn-delete-avatar"
                                    class="btn btn-info btn-flat rounded">Delete avatar</button>
                        </form>
                    </div>
                </div>

                <!--Change info-->
                <div class="col-4">
                    <div class="p-4 bg-body-tertiary">
                        <h2 class="text-center mb-2 fs-2">Info</h2>
                        <form id="form-info">

                            <label class="form-label">Name</label>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="name" th:value="${session.currentUser.name}">
                            </div>

                            <label class="form-label">Birthday</label>
                            <div class="mb-3">
                                <input type="date" class="form-control" id="birthday" th:value="${#dates.format(user.birthday, 'yyyy-MM-dd')}">
                            </div>

                            <label class="form-label">Gender</label>
                            <select class="form-control mb-3" id="gender" th:switch="${user.gender.value}">
                                <option value="MALE" th:selected="${user.gender.value == 'Male'}">Male</option>
                                <option value="FEMALE" th:selected="${user.gender.value == 'Female'}">Female</option>
                                <option value="LGBT" th:selected="${user.gender.value == 'LGBT'}">LGBT</option>
                            </select>

                            <label class="form-label">Phone number</label>
                            <input type="text" class="form-control mb-3" id="phoneNumber" th:value="${user.phoneNumber}">

                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary px-5">Save changes</button>
                            </div>

                        </form>


                    </div>
                </div>

                <!--Change password-->
                <div class="col-4">
                    <div class="p-4 bg-body-tertiary">
                        <h2 class="text-center mb-4 fs-2">Password</h2>
                        <form id="form-password">

                            <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" disabled th:value="${session.currentUser.email}">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Change password</label>

                                <div class="mb-3">
                                    <input type="password" class="form-control" id="current-password" placeholder="Current Password">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="new-password" placeholder="New Password">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="confirm-new-password" placeholder="Confirm New Password">
                                </div>
                                <div class="mb-3">
                                    <input type="checkbox" onclick="unHidePassword()"> Show password
                                </div>

                            </div>

                            <div class="mb-4 text-center">
                                <button type="submit" class="btn btn-primary px-5">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>

<th:block id="js">
    <!-- detail-account JS -->
    <script th:src="@{/js/user/info-password-handle.js}"></script>
    <script th:inline="javascript">
        const user = [[${session.currentUser}]];
    </script>
</th:block>
</body>
</html>