<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link py-0 d-flex align-items-center" data-toggle="dropdown" href="#">
                    <div class="user-panel">
                        <div class="d-flex align-items-center image">
                            <span th:text="${session.currentUser.name}"></span>
                            <img th:src="${session.currentUser.avatar}"
                                 class="img-circle border ml-1" alt="User Image">
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <a href="/" class="dropdown-item">
                        <span class="text-muted">Return Home Page</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" onclick="logout()">
                        <span class="text-muted">Log out</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <img th:src="${session.currentUser.avatar}" th:alt="${session.currentUser.name}" class="brand-image img-circle elevation-3"
                 style="opacity: 0.8"/>
            <span class="brand-text font-weight-light" th:text="${session.currentUser.name}"></span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false" id="main-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-folder-open"></i>
                            <p>
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/dashboard" class="nav-link pl-5">
                                    <p>Dashboard</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-newspaper"></i>
                            <p>
                                Blogs
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/blogs/homePage" class="nav-link pl-5">
                                    <p>Blog List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/blogs/own-blogs" class="nav-link pl-5">
                                    <p>My Own Blogs</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/blogs/create" class="nav-link pl-5">
                                    <p>Create Blog</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-film"></i>
                            <p>
                                Movies
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/movies/homePage" class="nav-link pl-5">
                                    <p>Movie List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/movies/create" class="nav-link pl-5">
                                    <p>Create Movie</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chair"></i>
                            <p>
                                Directors
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/directors/homePage" class="nav-link pl-5">
                                    <p>Director List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/directors/create" class="nav-link pl-5">
                                    <p>Create Director</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-star"></i>
                            <p>
                                Actors
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/actors/homePage" class="nav-link pl-5">
                                    <p>Actor List</p>
                                </a>
                                <a href="/admin/actors/create" class="nav-link pl-5">
                                    <p>Create Actor</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Users
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/users/homePage" class="nav-link pl-5">
                                    <p>User List</p>
                                </a>
                                <a href="/admin/users/create" class="nav-link pl-5">
                                    <p>Create user</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-folder"></i>
                            <p>
                                Genres
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/genres/homePage" class="nav-link pl-5">
                                    <p>Genre List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/genres/create" class="nav-link pl-5">
                                    <p>Create Genre</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>
</body>
</html>